/* #D1D1D1 #DBDBDB #85C7F2 #636363 #4C4C4C  */
html {
    margin: 0;
}

body {
    margin: inherit;
    position: relative;

}

h1 {
    text-align: center;
    padding: 1.2rem;
    color: #f0f0f0;
    background-color: #85C7F2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.row {
    margin-top: 12rem;
}


#output {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
}

.input-area {
    margin: auto;
}

#loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6%;
}

ul li:not(:first-child) {
    padding: 3rem;
    background: #DBDBDB;
    width: 100%;
    font-size: 2rem;
    color: #0f0f0f;

}



ul li:not(:first-child):hover {
    background-color: #D1D1D1;
}

@media (min-width: 750px) {
    ul li:not(:first-child) {

        width: 80%;


    }
}

#errorMsg {
    display: none;
    padding: 2rem;
    margin: 1rem;
    width: 95%;
    background: #FF6542;
    font-weight: 1rem;
    color: #f0f0f0;
    transition: all 500ms;

}

.button:hover {
    transition: all 300ms;
    background-color: #85C7F2;
    border: #85C7F2;
    color: #f0f0f0;
}

.footer {
    background-color: #85C7F2;
    padding: 1rem;
    text-align: center;
}