#D1D1D1 #DBDBDB #85C7F2 #636363 #4C4C4C html {
  margin: 0;
}

body {
  margin: inherit;
  background-color: #000000;
  font-family: monospace;
  border: 2px solid #fff000;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
h1 {
  font-size: 3rem;
  text-align: center;
}
h1 span {
  background-color: #fff000;
  display: inline-block;
  color: #000;
  padding: 14px;
}
.input-area {
  display: flex;
  justify-content: center;
  border-bottom: #fff000 2px solid;
  padding: 12px;
}
input {
  accent-color: #fff000;
  color: #fff000;
  background: transparent;
  padding: 10px;
  border: 2px #fff000 solid;
  outline: transparent;
  font-size: 1rem;
}
button {
  background-color: #fff000;
  color: #000;
  border: none;
  padding: 14px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#output {
  height: 100%;
  padding: 12px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  width: 100%;
  height: 100%;
  gap: 1.5rem;
}
.cards .card {
  width: 100%;
  height: 100%;
  background-color: #fff000;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease;
}

.cards .card h6 {
  font-size: 0.8rem;
  color: #000;
  text-align: center;
  /* margin: 0; */
}

#loader {
  display: none;
  color: #fff000;
  text-align: center;
  animation: blinking alternate 1s infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#error {
  color: #fff000;
  text-align: center;
}

.footer {
  color: #fff000;
  text-align: center;
  margin-top: 4rem;
}

.footer h5 {
  font-size: 1.5rem;
  margin: 0;
}
